body {
  background-attachment: fixed;
  background-image: url(/public/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.06rem;  
  margin: 0; 
  padding: 0;
  text-align: center;
}

.app-container {
  padding: 60px;
}

.app-content {
  background-color: rgba(237, 237, 237, 0.9);
  border-radius: 10px;
  color: black; 
  margin: 20px auto;
  max-width: 75%;
  padding: 40px;
}

@media (max-width: 1250px) {
  .app-container {
    padding: 40px;
  }

  .app-content {
    max-width: 80%;
  }
}

@media (max-width: 1100px) {
  .app-container {
    padding: 35px;
  }

  .app-content {
    max-width: 90%;
  }
}

@media (max-width: 900px) {
  .app-content {
    max-width: 95%;
  }
}

@media (max-width: 650px) {
  .app-container {
    padding: 25px;
  }

  .app-content {
    margin: auto;
    max-width: 100%;
    padding: 25px;
  }
}